@font-face {
  font-family: "Blair ITC Medium";
  src: url("../fonts/Blair ITC Medium.woff2") format("woff2"),
    url("../fonts/Blair ITC Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Blair ITC Medium", sans-serif;
  background-color: #616469;
  padding: 30px;
  overflow-x: hidden;
}

.page-header {
  display: flex;
  justify-content: space-between; /* Ensures space between logo and navigation */
  align-items: center;
  width: 100%;
  padding: 10px 50px; /* Adjusted padding */
  box-sizing: border-box;
}

.page-header-logo-link {
  display: inline-block;
}

.page-header-logo {
  width: 200px; /* Set a fixed width for the logo */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover; /* Ensures the image covers the area, cropping as needed */
  object-position: top; /* Aligns the top of the image with the container, cropping the bottom */
}

.main-navigation {
  margin-left: auto;
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Space between buttons */
  margin: 0;
}

.site-button {
  background-color: transparent;
  border: 1px solid #437ab2;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Blair ITC Medium", sans-serif;
  font-size: 12px; /* Adjusted font size */
  font-weight: bold; /* Adjusted to bold */
  line-height: 18px;
  padding: 10px 16px; /* Adjusted padding */
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 300ms ease-in;
}

.site-button:hover,
.site-button:active {
  outline: 0;
  background-color: #266db6;
  cursor: pointer;
}

.site-button:before {
  background-color: #4f6d7a;
  content: "";
  height: calc(100% + 1px); /* Reduced extra height for a tighter fit */
  position: absolute;
  right: -3px; /* Adjusted for smaller overall size */
  top: -3px; /* Adjusted for smaller overall size */
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  background-color: #437ab2;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 2px;
  background-color: #437ab2;
  display: block;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #00132c;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .navigation-list {
    gap: 5px; /* Reduce gap between buttons */
  }

  .site-button {
    font-size: 10px; /* Smaller font size for medium screens */
    padding: 4px 8px; /* Smaller padding for medium screens */
  }
}

@media (max-width: 767px) {
  .main-navigation {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-left: auto;
  }

  .navigation-list {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 30%;
    background-color: #616469;
  }

  .navigation-list.open {
    display: flex;
  }

  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-header-logo {
    width: 100px;
  }

  .main-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .site-button {
    font-size: 10px;
    padding: 4px 8px;
  }
}

.work-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 400px;
  padding-top: 60px;
  margin-bottom: 30px;
}

.row justify-content-center {
  padding-top: 50px;
}

.text-center {
  text-align: center;
  padding-bottom: 20px;
}

.work-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #4f6d7a;
  transition: transform 0.3s;
  width: calc(100% - 140px);
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.work-card:hover {
  transform: scale(1.05);
}

.fa-map-marker,
.fa-phone,
.fa-paper-plane,
.fa-file {
  color: #4f6d7a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-size: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.col-md-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.dbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .work-card {
    width: calc(100% - 40px);
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
  }

  .dbox {
    padding: 10px;
  }

  .text {
    word-wrap: break-word;
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 20;
  min-width: 60%; /* Adjust this value based on your design needs */
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap; /* This prevents wrapping */
  align-items: center; /* Vertically centers the content in the flex container */
}
