@font-face {
  font-family: "Blair ITC Medium";
  src: url("../fonts/Blair ITC Medium.woff2") format("woff2"),
    url("../fonts/Blair ITC Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Blair ITC Medium", sans-serif;
  background-color: #616469;
  padding: 30px;
  overflow-x: hidden;
}

.page-header {
  display: flex;
  justify-content: space-between; /* Ensures space between logo and navigation */
  align-items: center;
  width: 100%;
  padding: 10px 50px; /* Adjusted padding */
  box-sizing: border-box;
}

.page-header-logo-link {
  display: inline-block;
}

.page-header-logo {
  width: 200px; /* Set a fixed width for the logo */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover; /* Ensures the image covers the area, cropping as needed */
  object-position: top; /* Aligns the top of the image with the container, cropping the bottom */
}

.main-navigation {
  margin-left: auto;
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Space between buttons */
  margin: 0;
}

.site-button {
  background-color: transparent;
  border: 1px solid #437ab2;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Blair ITC Medium", sans-serif;
  font-size: 12px; /* Adjusted font size */
  font-weight: bold; /* Adjusted to bold */
  line-height: 18px;
  padding: 10px 16px; /* Adjusted padding */
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 300ms ease-in;
}

.site-button:hover,
.site-button:active {
  outline: 0;
  background-color: #266db6;
  cursor: pointer;
}

.site-button:before {
  background-color: #4f6d7a;
  content: "";
  height: calc(100% + 1px); /* Reduced extra height for a tighter fit */
  position: absolute;
  right: -3px; /* Adjusted for smaller overall size */
  top: -3px; /* Adjusted for smaller overall size */
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  background-color: #437ab2;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 2px;
  background-color: #437ab2;
  display: block;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #00132c;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .navigation-list {
    gap: 5px; /* Reduce gap between buttons */
  }

  .site-button {
    font-size: 10px; /* Smaller font size for medium screens */
    padding: 4px 8px; /* Smaller padding for medium screens */
  }
}

@media (max-width: 767px) {
  .main-navigation {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-left: auto;
  }

  .navigation-list {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 30%;
    background-color: #616469;
  }

  .navigation-list.open {
    display: flex;
  }

  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-header-logo {
    width: 100px;
  }

  .main-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .site-button {
    font-size: 10px;
    padding: 4px 8px;
  }
}
.work-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 400px;
  padding-top: 40px;
  margin-bottom: 30px;
}

/* Center work-title on medium and small screens */
@media (max-width: 1024px) {
  .work-title {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; /* Center the text */
  }
}

@media (max-width: 768px) {
  .work-title {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; /* Center the text */
  }
}

.work-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Adjust the gap between cards as needed */
  padding: 20px;
}

@media (max-width: 1024px) {
  .work-card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    margin-left: 0px; /* Reduce margin on smaller screens */
  }
}

@media (max-width: 768px) {
  .work-card-grid {
    grid-template-columns: 1fr; /* 1 column on small screens */
    margin-left: 0; /* Remove margin on small screens */
    gap: 1rem; /* Adjust gap for smaller screens */
    justify-content: center; /* Center the grid container */
  }
}

.work-card {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for a 3D effect */
  border-radius: 8px; /* Rounds the corners */
  background-color: #4f6d7a; /* Sets background color */
  transition: transform 0.3s; /* Adds a transform effect on hover */
  width: 100%; /* Takes full width of its container up to max-width */
  max-width: 400px; /* Sets a maximum width */
  padding: 20px; /* More internal space */
  margin: auto; /* Center the work-card */
}

@media (max-width: 768px) {
  .work-card {
    width: calc(100% - 20px); /* Ensure it fits within the viewport */
    padding-left: 10px;
    padding-right: 10px;
    transform: scale(0.9); /* Scale down by 10% */
    margin: auto; /* Center the work-card */
  }
}

.work-card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-card:hover {
  transform: scale(1.05); /* Optional: Scales up cards slightly on hover */
}

.card-image {
  height: 260px; /* Sets a fixed height */
  object-fit: cover;
  border-radius: 8px;
  margin-left: 17px;
}

.mobile-images-container {
  display: flex;
  justify-content: space-between; /* Space between images */
}

.mobile-image {
  height: 260px; /* Sets a fixed height */
  object-fit: cover;
  border-radius: 25px;
  padding: 3px;
  flex: 1; /* Ensure images take equal space */
  max-width: calc(33.33% - 6px); /* Adjust for padding */
}

.card-title,
.card-text {
  margin: 0 0 10px 0; /* Adds margin to the bottom of the title and text */
}

.card-title {
  font-size: 24px; /* Adjusts the title size */
  font-weight: bold; /* Makes the title bold */
  padding-top: 10px;
  text-align: center;
}

.card-text {
  font-size: 14px; /* Adjusts the text size */
  text-align: center;
}

.card-button-container {
  display: flex; /* Aligns children in a row */
  justify-content: center; /* Centers the buttons horizontally */
  gap: 20px; /* Adds space between each button */
  margin-top: 20px; /* Adds space above the buttons */
}

#button-container2 {
  margin-top: 52px;
  margin-right: 30;
}

.work-site-button {
  background-color: transparent;
  border: 1px solid #437ab2;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Blair ITC Medium", sans-serif;
  font-size: 10px; /* Reduced from 12px to make the text smaller */
  font-weight: bold;
  line-height: 18px; /* Reduced to fit the smaller font */
  padding: 4px 8px; /* Reduced padding to make the button smaller */
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.work-site-button:hover,
.work-site-button:active {
  outline: 0;
}

.work-site-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.work-site-button:before {
  background-color: #4f6d7a;
  content: "";
  height: calc(100% + 1px); /* Reduced extra height for a tighter fit */
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* More opaque black background */
  z-index: 1000; /* Ensures the modal is on top of other elements */
  padding-top: 20px; /* Add top padding */
  padding-bottom: 20px; /* Add bottom padding */
  overflow-y: auto; /* Add vertical scrolling if content overflows */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #616469;
  padding: 30px;
  font-size: 14px;
  border: 1px solid #888;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  width: 800px; /* Set a fixed width but ensure it does not exceed the viewport width */
  max-width: 96%; /* Prevents the modal from being wider than the screen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* Prevents content from spilling out */
  position: relative; /* Ensures that the close button is positioned relative to this container */
  margin: 20px auto; /* Center the modal-content horizontally and add spacing */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #4f6d7a;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto; /* Add vertical scrolling if content overflows */
  }
}

.tech-buttons {
  display: flex; /* This will enable flexbox properties for the container */
  justify-content: center; /* This centers the buttons horizontally in the container */
  gap: 10px; /* This sets the space between each button */
  margin-top: 20px; /* This adds space above the container */
  flex-wrap: wrap; /* This allows the buttons to wrap onto the next line if there isn't enough space */
}

.tech-button {
  background-color: #4f6d7a;
}

.tech-button:hover {
  background-color: #266db6;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 20;
  min-width: 60%; /* Adjust this value based on your design needs */
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap; /* This prevents wrapping */
  align-items: center; /* Vertically centers the content in the flex container */
}
