@font-face {
  font-family: "Blair ITC Medium";
  src: url("../fonts/Blair ITC Medium.woff2") format("woff2"),
    url("../fonts/Blair ITC Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Blair ITC Medium", sans-serif;
  background-color: #616469;
  padding: 30px;
  overflow-x: hidden;
}

.page-header {
  display: flex;
  width: 100%;
  padding-right: 50px;
  margin-right: 40px;
}

.page-header-logo {
  width: 80%; /* Ensures the image fills the width of its container */
  height: auto; /* Maintains the aspect ratio */
  margin-left: 30px;
  object-fit: cover; /* Ensures the image covers the area, cropping as needed */
  object-position: top; /* Aligns the top of the image with the container, cropping the bottom */
}

.main-navigation {
  margin-left: auto;
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Adjust space between buttons */
  margin-right: 70px;
}

.work-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 400px;
  padding-top: 40px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
  padding-bottom: 20px;
}

.temp-title {
  margin-left: 480px;
}

.work-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for a 3D effect */
  border-radius: 8px; /* Rounds the corners */
  overflow: hidden; /* Ensures content adheres to the border radius */
  background-color: #4f6d7a; /* Sets background color */
  transition: transform 0.3s; /* Optional: Adds a transform effect on hover */
  width: calc(100% - 140px);
  max-width: 1200px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.work-card:hover {
  transform: scale(1.05); /* Optional: Scales up cards slightly on hover */
}

.site-button {
  background-color: transparent;
  border: 1px solid #437ab2;
  box-sizing: border-box;
  color: #00132c;
  font-family: "blairMdITC TT", sans-serif;
  font-size: 10px; /* Reduced from 12px to make the text smaller */
  font-weight: extra-bold;
  line-height: 18px; /* Reduced to fit the smaller font */
  padding: 4px 8px; /* Reduced padding to make the button smaller */
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.site-button:hover,
.site-button:active {
  outline: 0;
}

.site-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.site-button:before {
  background-color: #4f6d7a;
  content: "";
  height: calc(100% + 1px); /* Reduced extra height for a tighter fit */
  position: absolute;
  right: -3px; /* Adjusted for smaller overall size */
  top: -3px; /* Adjusted for smaller overall size */
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.site-button:hover:before {
  background-color: #266db6;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 20;
  min-width: 60%; /* Adjust this value based on your design needs */
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap; /* This prevents wrapping */
  align-items: center; /* Vertically centers the content in the flex container */
}

@media (min-width: 768px) {
  .site-button {
    padding: 16px 32px;
    flex: 0 0 100%; /* Stacks the columns on smaller screens */
    max-width: 100%;
  }
}
